<div style="width:70%; margin-left: auto; margin-right: auto;">
  <h2>Reklamų matomumas</h2>
  <p>Čia galite matyti savo įkeltų reklamų matomumo tendencijas</p>

  <div>
    <p>Pasirinkite mėnesį</p>
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
      </ngb-datepicker>
      
      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
  </div>
  <div *ngIf="show" style="height: 500px; width: 700px; display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineCharData2"
                [labels]="lineChartLabels2"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
      </canvas>
  </div>
</div>